﻿  body
        {  
	        background-color: #1A1A1A;
            overflow-y:hidden;
            cursor: default !important;

	        
        }
        #container
        {
           
            margin-left: auto;
            margin-right: auto;
            font-size: 25px;
            
         }
         .main
         {
            margin-right: auto;
            margin-left: auto;
            width: 1200px;
         }
        #headline
        {
           
           background-color: #0D0D0D;
           color: blueviolet;
           text-align: center;
           font-size: larger;
           margin-left:auto;
	       margin-right:auto;
           letter-spacing: 5px;
        }
        #line
        {
           margin-top: 15px;
           height: 40px;
           width: 1000px;
           background-color: #1F1F1F;
           margin-right: auto;
           margin-left: auto;
           border-radius: 10px;
        }
        
        .menuItem
        {
            float: left;
            padding: 10px;
            margin-top: 15px;
            text-align: center;
            background-color: #0D0D0D;  
            color: #ffffff;
            margin-left:30px;
            border-radius: 10px;

            transition: all .5s;
        }

        #space
        {
            float: left;
            width: 400px;
            height: 10px;
        }
       
        #bookmarks
        {
            float: left;
            margin-left: 40px;
            width: 200px;
            height: 400px;
   
        }
        #boxBackground
        {
             height: 400px;
             width: 850px;
             margin-top: 20px;
             margin-left: 290px;
             background-color: #0D0D0D;

        }
        #box
        {
            position:absolute; 
            float: left;
            font-family: 'Arial';
            color: #af1f1f;
            padding: 20px;
            padding-top: 30px;
            
            width: 850px;
            background-color: #0D0D0D;
            text-align: center;
            border-radius: 20px !important;
        }

        .segment
        {
            margin: 10px;
            margin-bottom: 10px;
            padding: 5px;
            height: 110px;
            width: 790px;
            font-size: 16px;
            font-family: 'Calibri';
            text-align: left;
            color: #a31aff;
            font-size: bolder;
            border-radius: 15px;
            background-color: black;
            opacity: .9;
            transition: all 1.5s;
        }

        .segment:hover
        {
            background-color:#5900b3;
            opacity: .7;
        }

        .add
        {
            color: black;
            font-size: 17px;
            font-weight: bold;
            text-align: center;
            height: 40px;
            width: 100px;
            margin-left: auto;
            margin-bottom: 40px;
            margin-right: 10px;
            padding-top: 10px;
            background-color: #6633FF;
            border-radius: 10px;

            transition: all .5s;
        }

        .add:hover
        {
            background-color: #8c1aff;
            transform: scale(1.1);
        }
       
        .option
        {
            font-size: 20px;
            padding: 15px;
            color: #ffffff;
            margin-bottom: 25px;
            text-align: center;
            background-color: #0D0D0D;
            border-radius: 10px;
            transition: all .5s;
        }
         .option:hover
        {
            background-color: #2B2B2B;
              transform: scale(1.05);
            -ms-transform: scale(1.05);
            -webkit-transform: scale(1.05);
        }
         .menuItem:hover
         {
             background-color: #2B2B2B;
             transform: scale(1.05);
            -ms-transform: scale(1.05);
            -webkit-transform: scale(1.05);
         }
         
         #shop
         {
             background-color: red;
             height: 30px;
         }

        .music
        {
            float: left;
            width: 120px;
            height: 80px;
            margin-left: 20px;
            margin-top: 10px;
            margin-bottom: 20px;
            background-color: #6B00B3;
            transition: all 1s;
            border-radius: 10px;
            
        }
        

        .music:hover
        {
           background-color: #6633FF;
        }
        
      

        #Cart:hover
        {
           background-color: #2B2B2B;
            transform: scale(1.05);
            -ms-transform: scale(1.05);
            -webkit-transform: scale(1.05);
        }
         #itemInCart
         {
            float: left;
            width: 150px;
            height: 120px;
            margin-left: 40px;
            background-color: #6B00B3;
         }
       #cartBox
       {
            font-family: 'Arial';
            color: #af1f1f;
            padding-top: 25px;
            height: 100px;
            width: 850px;
            margin-top: 40px;
            margin-bottom: 20px;
            margin-left: 30%;
            margin-right: auto;
            background-color: #0D0D0D;
            text-align: center;
            border-radius: 10px;
            transition: all 1s;
            opacity: 0;
       }
       #total
       {
            font-weight: bold;
            font-size: 15px;
            padding-left: 10px;
            padding-top: 12px;
            margin-top: 5px;
             margin-left: 660px;
             text-align: left;
             position:absolute;
             height: 40px;
             width: 170px;
             background-color: #5533FF;
             border-radius: 10px;
       }
       #price
       {
           color: black;
           font-size: 20px;
           position: absolute;
           font-weight: bold;
           font-size: 16px;
            height: 40px;
            width: 140px;
            margin-left: 725px;
            margin-top: 5px;
            padding-top: 10px;
       }
       .delete
       {
            float:left;
            color: black;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            height: 40px;
            width: 100px;
            margin-left: 20px;
            margin-top: 5px;
            padding-top: 10px;
            background-color: #6633FF;
            border-radius: 10px;

            transition: all .5s;

       }
       .delete:hover
       {
           background-color: #7744FF;
            transform: scale(1.05);
            -ms-transform: scale(1.05);
            -webkit-transform: scale(1.05);
       }


       .active
       {
        opacity: 1 !important;
        transition: all 1s;
       }

        b2
        {
            font-weight: bold;
            font-size: 20px;
            color: #8533ff;
        }
        
        b3
        {
            color: #d9d9d9;
            font-size: 18px;
        }









